/* universal */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common class */
.container{
    max-width: 1460px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
section img{
   height: 100%;
   width: 100%;
   object-fit: cover; 
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    width: 289px;
    display: block; 
}
h1,.heading-1{
    font-size: 72px ;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h2,.heading-2{
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h3,.heading-3{
    font-size: 50px ;
    font-weight: 400;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h4,.heading-4{
    font-size: 40px ;
    font-weight: 300;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h5,.heading-5{
    font-size: 30px ;
    font-weight: 300;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
h6,.heading-6{
    font-size: 20px ;
    font-weight: 200;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}
p{
    font-size: 16px ;
    font-weight: 100;
    color: #000000;
    margin: 0 0 20px;
    line-height: 1.2 ;
    text-transform: capitalize;
}

.nav-links li a{
    display:block;
    text-transform: capitalize;
    color:#363636;
}
.cmn-btn{
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    background : transparent;
    color:black;
    border : 1px solid;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    
}
.cmn-gap{
    padding: 0 0;
}
/* navbar starts */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-links{
    display: flex;
    margin-left: auto;
}
.nav-links li{
    margin: 0 20px 0 0 ;
}
.header .container{
    max-width: 1460px;
}
.hero{
    min-height:100vh;
    background: url(../immage/hero\ imo.jpg);
    display: flex;
    align-items:center;
    background-position: center;
    background-size:cover;
}
.hero h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:20px;
    line-height:1.2;
}

.hero-content p{
    font-size:16px;
    margin-bottom:30px;
    opacity:0.9;
    color: #fff;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.ban-btn{
    background-color: #ffffff;
    letter-spacing: 2.0px;
    font-weight: 500;
    padding: 22px 30px;
    margin-right: 18px;
}
.ban-btn:hover{
    background-color: transparent;
    color: #000000;
}
.banner-sec-button .cmn-btn{
    color: rgb(0, 0, 0);
    padding: 22px 33px;
    letter-spacing: 2.0px;
    font-weight: 500;
}
.banner-sec-button .cmn-btn:hover{
    background-color: #ffffff;
    color: #000000;
}


.overview{
    padding:100px 0;
    text-align:center;
    background:#f5f5f5;
}

.overview h2{
    font-size:36px;
    margin-bottom:20px;
    color: #000;
}

.overview p{
    max-width:700px;
    margin:auto;
    color:#555;
    font-size:15px;
    line-height:1.6;
}
.cmn-gap{
    padding: 20px 0;
}
.card-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cmn-card{
    width: 33.33%;
    position: relative;
    overflow: hidden;
}
.card-child img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.card-text{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px;
    background:  linear-gradient(
        to top,
        rgba(0,0,0,0.8),
        transparent
    );
}
.card span{
    letter-spacing: 5px;
}
.card h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.card-child p{
    color: #ffffff;
    font-weight: 0;
    margin-bottom: 0;
}
.about{
    background: linear-gradient(
        to top,
        rgba(237, 234, 255, 1),
        rgba(241, 241, 225, 0.3)
    );
}
.about-child{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -43px ;
}
.left,.right{
    width: 50%;
    padding: 0 43px ;
}
.right{
    display: flex;
    align-items: center;
    color: #000;
}
.inner-text{
   
    max-width: 500px;
} 
.span-text{
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    margin-bottom: 10px ;
}
.right h2{
    font-weight: 700;
    text-transform: capitalize;
}
.right p{
    text-transform: capitalize;
}
.abt-btn{
    font-weight: 300;
    border-radius: 60px;
}
.abt-btn:hover{
    background-color: #000000;
    color: #ffffff;
}
.about{
    background: linear-gradient(
        to top,
        rgba(237, 234, 255, 1),
        rgba(241, 241, 225, 0.3)
    );
}
.about-child{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -43px ;
}
.left,.right{
    width: 50%;
    padding: 0 43px ;
}
.right{
    display: flex;
    align-items: center;
}
.inner-text{
    max-width: 500px;
} 
.span-text{
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.right h2{
    font-weight: 700;
    text-transform: capitalize;
}
.right p{
    text-transform: capitalize;
}
.abt-btn{
    font-weight: 300;
    border-radius: 60px;
}
.abt-btn:hover{
    background-color: #000000;
    color: #ffffff;
}
.other-about{
    min-height: 100vh;
    background: url(../immage/other\ about.jpg);
    display: flex;
    align-items: center;
    background-position: center;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-size: cover;
}
.other-about-child{
    max-width: 450px;
}
.other-about-child .span-text{
    color: #ffffff;
}
.other-about-child h2{
    color: #ffffff;
}
.other-about-child p{
    text-transform: capitalize;
    color: #ffffff;
}
.other-btn{
    color: #ffffff;
    font-weight: 300;
    padding: 22px 34px;
}
.other-btn:hover{
    background-color: #ffffff;
    color: black;
}
/* extra about ends */
.footer{
    background-color: #F9F9FF;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.footer.cmn-gap{
    padding: 78px 0 0;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}
.footer-text p{
    color: #000000;
    max-width: 800px;
    font-size: 16px;
}
.ftr-btn{
    display: inline-block;
    padding: 22px 27px;
    border-radius: 53px;
    color: #000000;
    font-size: 15px;
    letter-spacing: 2.0px;
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid;
}
.footer-middle{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.footer-links{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 27px 0;

}
.footer-links li{
    margin: 0 50px 0 0;
}
.footer-links a{
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}
.footer-links a:hover{
    color: #03A6A6;
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 21px 0;
}
.social-icons li{
    border: 1px solid #000000;
    margin-right: 12px;
    padding:9px 12px;
    border-radius: 50%;
}
.social-icons a{
    color: #000000;
}
.social-icons a:hover{
    color: #03A6A6;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    flex-wrap: wrap;
}
.policy-links a{
    text-decoration: none;
    margin-right:15px;
    color: #000000;
}
.policy-links a:hover{
    color: #03A6A6;
}
